<a href="https://colab.research.google.com/github/Willrodagu/Proj_analise_de_dados/blob/main/Analise_de_dados_de_exporta%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Projeto de analise de dados com Python e Pandas**

O projeto tem por objetivo apresentar uma analise das exportações brasileiras com base em dados de 2018 até o momento.

Fonte dos dados: http://comexstat.mdic.gov.br/pt/municipio

In [1]:
import pandas as pd

In [2]:
#IMPORTANDO A BASE DE DADOS
df = pd.read_csv("/content/drive/MyDrive/Datasets/Exportação.csv", sep=";")
#VISUALIZANDO A BASE DE DADOS
df.head()

    Ano  Mês  ... Valor FOB (US$) Quilograma Líquido
0  2021    9  ...          561532             210089
1  2021    9  ...       109393141           88626256
2  2021    9  ...         5287597            2893673
3  2021    9  ...       378245314          476217494
4  2021    9  ...       378245314          476217494

[5 rows x 6 columns]

In [3]:
#VERIFICANDO QUANTAS LINHAS E COLUNAS TEM A BASE DE DADOS
df.shape

(11602, 6)

In [9]:
#VERIFICANDO SE OS VALORES ESTÃO RECOLNHECIDO DA MANEIRA CORRETA
df.dtypes

Ano                    int64
Mês                    int64
País                  object
Bloco Econômico       object
Valor FOB (US$)        int64
Quilograma Líquido     int64
dtype: object

In [8]:
#VERIFICANDO A EXISTENCIA DE VALORES "NULL" NAS COLUNAS
df.isnull().sum()

Ano                   0
Mês                   0
País                  0
Bloco Econômico       0
Valor FOB (US$)       0
Quilograma Líquido    0
dtype: int64

In [29]:
#CALCULANDO A RECEITA TOTAL
round(df["Valor FOB (US$)"].sum(), 2)

1131370420447

In [22]:
#VER O PERCENTUAL DE EXPORTAÇÕES PARA CONTINENTES
print(df["Bloco Econômico"].value_counts())
print(df["Bloco Econômico"].value_counts(normalize=True).map("{:.1%}".format))

África                                              2383
Europa                                              2142
América Central e Caribe                            1623
Ásia (Exclusive Oriente Médio)                      1458
União Europeia - UE                                 1312
Oceania                                              666
Oriente Médio                                        630
América do Sul                                       507
Associação de Nações do Sudeste Asiático - ASEAN     431
Comunidade Andina das Nações - CAN                   180
Mercado Comum do Sul - Mercosul                      135
América do Norte                                     135
Name: Bloco Econômico, dtype: int64
África                                              20.5%
Europa                                              18.5%
América Central e Caribe                            14.0%
Ásia (Exclusive Oriente Médio)                      12.6%
União Europeia - UE                                 11.3%
Oceania                                              5.7%
Oriente Médio                                        5.4%
América do Sul                                       4.4%
Associação de Nações do Sudeste Asiático - ASEAN     3.7%
Comunidade Andina das Nações - CAN                   1.6%
Mercado Comum do Sul - Mercosul                      1.2%
América do Norte                                     1.2%
Name: Bloco Econômico, dtype: object

In [26]:
#VER O PERCENTUALDE EXPORTAÇÕES POR PAÍS (TODOS)
print(df["País"].value_counts())
print(df["País"].value_counts(normalize=True).map("{:.1%}".format))

Dinamarca                   90
Peru                        90
França                      90
Equador                     90
Estônia                     90
                            ..
Saara Ocidental              4
Vaticano                     3
Marianas do Norte, Ilhas     3
Toquelau                     2
Cocos (Keeling), Ilhas       2
Name: País, Length: 245, dtype: int64
Dinamarca                   0.8%
Peru                        0.8%
França                      0.8%
Equador                     0.8%
Estônia                     0.8%
                            ...
Saara Ocidental             0.0%
Vaticano                    0.0%
Marianas do Norte, Ilhas    0.0%
Toquelau                    0.0%
Cocos (Keeling), Ilhas      0.0%
Name: País, Length: 245, dtype: object

In [31]:
#VER A RECEITA POR ANO
df.groupby("Ano")["Valor FOB (US$)"].sum()

Ano
2018    302851588437
2019    285237181844
2020    268973457401
2021    274308192765
Name: Valor FOB (US$), dtype: int64

In [33]:
#VER A RECEITA POR BLOCO ECONÔMICO
df.groupby("Bloco Econômico")["Valor FOB (US$)"].sum()

Bloco Econômico
América Central e Caribe                             13528053637
América do Norte                                    133886827846
América do Sul                                      109968510544
Associação de Nações do Sudeste Asiático - ASEAN     50806007606
Comunidade Andina das Nações - CAN                   26696759491
Europa                                              157314849003
Mercado Comum do Sul - Mercosul                      60317319288
Oceania                                               2985798456
Oriente Médio                                        38372044655
União Europeia - UE                                 119867669710
África                                               30108495739
Ásia (Exclusive Oriente Médio)                      387518084472
Name: Valor FOB (US$), dtype: int64

In [34]:
#VER A RECEITA POR PAÍS
df.groupby("País")["Valor FOB (US$)"].sum()

País
Afeganistão        102330711
Aland, Ilhas           97906
Albânia            210697578
Alemanha         35597046194
Andorra              2772213
                    ...
Zimbábue            23477348
Zâmbia              18652975
África do Sul     4352721574
Áustria           1104384582
Índia            12816710365
Name: Valor FOB (US$), Length: 245, dtype: int64

Qual é o volume exportação por ano?

Quais os bocos econômico com maior relevancia na exportação do produto Brasileiro?

Quais paises mais exportaram do Brasil no periodo?

Cliente em potencial: relação bloco economico x pais (principais exportadores)