<a href="https://colab.research.google.com/github/Willrodagu/Proj_analise_de_dados/blob/main/Analise_de_dados_de_exporta%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Projeto de analise de dados com Python e Pandas**

O projeto tem por objetivo apresentar uma analise das exportações brasileiras com base em dados de 2018 até o momento.

Fonte dos dados: http://comexstat.mdic.gov.br/pt/municipio

In [1]:
import pandas as pd

In [2]:
#IMPORTANDO A BASE DE DADOS
df = pd.read_csv("/content/drive/MyDrive/Datasets/Exportação.csv", sep=";")
#VISUALIZANDO A BASE DE DADOS
df.head()

    Ano  Mês  ... Valor FOB (US$) Quilograma Líquido
0  2021    9  ...          561532             210089
1  2021    9  ...       109393141           88626256
2  2021    9  ...         5287597            2893673
3  2021    9  ...       378245314          476217494
4  2021    9  ...       378245314          476217494

[5 rows x 6 columns]

In [3]:
#VERIFICANDO QUANTAS LINHAS E COLUNAS TEM A BASE DE DADOS
df.shape

(11602, 6)

In [4]:
#VERIFICANDO SE OS VALORES ESTÃO RECOLNHECIDO DA MANEIRA CORRETA
df.dtypes

Ano                    int64
Mês                    int64
País                  object
Bloco Econômico       object
Valor FOB (US$)        int64
Quilograma Líquido     int64
dtype: object

In [5]:
#VERIFICANDO A EXISTENCIA DE VALORES "NULL" NAS COLUNAS
df.isnull().sum()

Ano                   0
Mês                   0
País                  0
Bloco Econômico       0
Valor FOB (US$)       0
Quilograma Líquido    0
dtype: int64

**Qual é o volume exportação por ano?**

In [6]:
#CALCULANDO A RECEITA TOTAL
round(df["Valor FOB (US$)"].sum(), 2)

1131370420447

In [26]:
#VER A RECEITA POR ANO
df.groupby("Ano")["Valor FOB (US$)"].sum().sort_values(ascending=False)

Ano
2018    302851588437
2019    285237181844
2021    274308192765
2020    268973457401
Name: Valor FOB (US$), dtype: int64

In [40]:
#VER A RECEITA ANUAL POR BLOCO ECONÔMICO

df.groupby([df["Ano"], "Bloco Econômico"])["Valor FOB (US$)"].sum()
df_2018 = df[df["Ano"] == 2018]
display(df_2018)
df["Bloco Econômico"].unique()

        Ano  Mês  ... Valor FOB (US$) Quilograma Líquido
8523   2018   12  ...         2033778            1036043
8524   2018   12  ...        77323045           50255804
8525   2018   12  ...         4184302            2635087
8526   2018   12  ...       478925273          546894234
8527   2018   12  ...       478925273          546894234
...     ...  ...  ...             ...                ...
11597  2018    1  ...       102012992          294366317
11598  2018    1  ...         5731099           16476839
11599  2018    1  ...           80401              26612
11600  2018    1  ...          502336             309410
11601  2018    1  ...         1019204              69730

[3079 rows x 6 columns]

array(['Ásia (Exclusive Oriente Médio)', 'África', 'Europa',
       'União Europeia - UE', 'América Central e Caribe', 'Oriente Médio',
       'América do Sul', 'Mercado Comum do Sul - Mercosul', 'Oceania',
       'Comunidade Andina das Nações - CAN',
       'Associação de Nações do Sudeste Asiático - ASEAN',
       'América do Norte'], dtype=object)

In [47]:
#SOMA DA RECEITA POR BLOCO NO ANO DE 2018
asia_2018 = df_2018.loc[df_2018["Bloco Econômico"] == "Ásia (Exclusive Oriente Médio)"].sum()
display(asia_2018)

Ano                                                              801146
Mês                                                                2590
País                  AfeganistãoArmêniaAzerbaijãoBangladeshCambojaC...
Bloco Econômico       Ásia (Exclusive Oriente Médio)Ásia (Exclusive ...
Valor FOB (US$)                                             91930998871
Quilograma Líquido                                         446427988107
dtype: object

In [19]:
#VER A RECEITA ANUAL POR PAÍS (WORLD)
df.groupby([df["Ano"], "País"])["Valor FOB (US$)"].sum()

Ano   País
2018  Afeganistão         16994642
      Aland, Ilhas           95038
      Albânia             58757571
      Alemanha         10412769314
      Andorra               382357
                          ...
2021  Zimbábue             8078110
      Zâmbia               3399980
      África do Sul      869071158
      Áustria            153813230
      Índia             3246378235
Name: Valor FOB (US$), Length: 956, dtype: int64

**Quais os blocos econômico com maior relevancia na exportação do produto Brasileiro?**

In [20]:
#VER O PERCENTUAL DE EXPORTAÇÕES PARA BLOCOS ECONÔMICOS
print(df["Bloco Econômico"].value_counts())
print(df["Bloco Econômico"].value_counts(normalize=True).map("{:.1%}".format))

África                                              2383
Europa                                              2142
América Central e Caribe                            1623
Ásia (Exclusive Oriente Médio)                      1458
União Europeia - UE                                 1312
Oceania                                              666
Oriente Médio                                        630
América do Sul                                       507
Associação de Nações do Sudeste Asiático - ASEAN     431
Comunidade Andina das Nações - CAN                   180
América do Norte                                     135
Mercado Comum do Sul - Mercosul                      135
Name: Bloco Econômico, dtype: int64
África                                              20.5%
Europa                                              18.5%
América Central e Caribe                            14.0%
Ásia (Exclusive Oriente Médio)                      12.6%
União Europeia - UE                                 11.3%
Oceania                                              5.7%
Oriente Médio                                        5.4%
América do Sul                                       4.4%
Associação de Nações do Sudeste Asiático - ASEAN     3.7%
Comunidade Andina das Nações - CAN                   1.6%
América do Norte                                     1.2%
Mercado Comum do Sul - Mercosul                      1.2%
Name: Bloco Econômico, dtype: object

In [24]:
#VER A RECEITA POR BLOCO ECONÔMICO
df.groupby("Bloco Econômico")["Valor FOB (US$)"].sum().sort_values(ascending=False)

Bloco Econômico
Ásia (Exclusive Oriente Médio)                      387518084472
Europa                                              157314849003
América do Norte                                    133886827846
União Europeia - UE                                 119867669710
América do Sul                                      109968510544
Mercado Comum do Sul - Mercosul                      60317319288
Associação de Nações do Sudeste Asiático - ASEAN     50806007606
Oriente Médio                                        38372044655
África                                               30108495739
Comunidade Andina das Nações - CAN                   26696759491
América Central e Caribe                             13528053637
Oceania                                               2985798456
Name: Valor FOB (US$), dtype: int64

**Para quais paises o Brasil mais exportou no periodo?**

In [21]:
#VER O PERCENTUALDE EXPORTAÇÕES PARA PAÍS (TODOS)
print(df["País"].value_counts())
print(df["País"].value_counts(normalize=True).map("{:.1%}".format))

Letônia                     90
Áustria                     90
Croácia                     90
Chipre                      90
Países Baixos (Holanda)     90
                            ..
Saara Ocidental              4
Marianas do Norte, Ilhas     3
Vaticano                     3
Toquelau                     2
Cocos (Keeling), Ilhas       2
Name: País, Length: 245, dtype: int64
Letônia                     0.8%
Áustria                     0.8%
Croácia                     0.8%
Chipre                      0.8%
Países Baixos (Holanda)     0.8%
                            ...
Saara Ocidental             0.0%
Marianas do Norte, Ilhas    0.0%
Vaticano                    0.0%
Toquelau                    0.0%
Cocos (Keeling), Ilhas      0.0%
Name: País, Length: 245, dtype: object

In [25]:
#VER A RECEITA POR PAÍS
df.groupby("País")["Valor FOB (US$)"].sum().sort_values(ascending=False)

País
China                      266693395479
Estados Unidos             102160793779
Argentina                   83872387612
Países Baixos (Holanda)     58453740418
Alemanha                    35597046194
                               ...
Lesoto                            64526
Guernsey                          33692
Butão                             19413
Vaticano                           5597
Cocos (Keeling), Ilhas               38
Name: Valor FOB (US$), Length: 245, dtype: int64

**Cliente em potencial: relação bloco economico x pais (principais exportadores)**